*.mdf
*.ldf
*.dll
*.pdb
FFCNMaintenance/FFCNMaintenance/obj/Debug/FFCNMaintenance.csproj.FileListAbsolute.txt
FFCNMaintenance/FFCNMaintenance/obj/Debug/FFCNMaintenance.csprojResolveAssemblyReference.cache
*.suo
*.mdf
*.ldf
FFCNMaintenance/FFCNMaintenance/bin/FFCNMaintenance.dll
*.pdb
FFCNMaintenance/FFCNMaintenance/obj/Debug/FFCNMaintenance.dll
*.suo
*.ldf
*.mdf
*.pdb
*.cache
*.dll
*.mdf