
@{
    ViewBag.Title = "Index";
}

<h2>Administrator only maintenance of sensitive data</h2>

<p>
    @Html.ActionLink("User Logins Area", "Index", "UsersAdmin")
</p>
<br />
<p>
    @Html.ActionLink("System Data Maintenance Area", "Index", "DataMaintenance")
</p>